ul.breadcrumb {
    padding: 6px 6px;
    list-style: none;
    font-size: 17px;
}


ul.breadcrumb li {
    display: inline;
}


ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


ul.sidemenu {
    padding-top: 10%;
    font-size: 170%;
    list-style: none;
}


h1 {
    padding-top: 30px;
    text-align: center;
    color: #01447e;
}


body {
    background-color: #FFDAB9;
}