<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>GAS Uploader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  <style>
body {
        color: white;
}
h1 {
        color: #ffffff;
}
p {
        color: rgb(255, 255, 255)
}
</style>
  <body background="img/html-color-codes-color-tutorials-hero-00e10b1f.jpg">
     <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">GAS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="upload.html">Upload JSON</a></li>
                <li><a href="fetch">Fetch all</a></li>
                <li class="help"><a href="help.html">Help</a></li>
                <li><a href="chartpage.html">Chart page</a></li>
                <li class="Johtamispeli"><a href="https://jope.sis.uta.fi/login.html">Johtamispeli</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://jope.sis.uta.fi/login.html">Johtamispeli</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="delete_entries">Delete All</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <h1>Upload a JSON/LOG-file:</h1>
      <form action="" method=post enctype=multipart/form-data>
        <p><input type=file name=file></p>
        <div style = margin:2px><input type=submit value=Upload onclick=loading();></div>
        <div style = margin-top:50px><button onclick="location.href='/'" type="button">Back</button></div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">close
                </button>
                    {{message}}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
    </div>
  </body>
</html>