<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Jsonit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

<body background="../static/img/html-color-codes-color-tutorials-hero-00e10b1f.jpg">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GAS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="upload.html">Upload JSON</a></li>
                <li><a href="fetch">Fetch all</a></li>
                <li class="help"><a href="help">Help</a></li>
                <li class="Johtamispeli"><a href="https://jope.sis.uta.fi/login.html">Johtamispeli</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://jope.sis.uta.fi/login.html">Johtamispeli</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="delete_entries">Delete All</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

   <div id="main"  class="container">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">close
                </button>
                    {{message}}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}


        <div id="fetch" style="margin:5px">
              <div style = "margin-top:50px;margin-left:20px;margin-bottom:20px">
          {%  for prop in names %}
             <a href='/entries/{{prop}}'><button style = "margin: 20px 20px 5px;" >{{prop}}</button></a>
          {% endfor %}
              <pre id = "show" style="margin-left:20px; margin-right:20px; height: 700px;"><code style="margin-left:20px; margin-right:20px">
          {% print(json) %}</code></pre>
          </div>
        </div>

    <div id="container2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    </div>

      <script type="text/javascript">

       $.getJSON('/entries/userName', function (data) {
           Highcharts.chart('container2', {
               chart: {
                   plotBackgroundColor: null,
                   plotBorderWidth: null,
                   plotShadow: false,
                   type: 'pie'
               },
               title: {
                   text: 'Users'
               },
               tooltip: {
                   pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
               },
               plotOptions: {
                   pie: {
                       allowPointSelect: true,
                       cursor: 'pointer',
                       dataLabels: {
                           enabled: true,
                           format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                           style: {
                               color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                           }
                       }
                   }
               },
               series: [{
                   name: 'Brands',
                   colorByPoint: true,
                   data: [{
                       name: 'Container',
                       y: 56.33
                   }, {
                       name: 'Office',
                       y: 24.03,
                       sliced: true,
                       selected: true
                   }, {
                       name: 'Kaytava',
                       y: 10.38
                   }]
               }]
           });
       });
    </script>
</body>
</html>









