<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Jsonit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

<body>
    <h1 style="margin: 20px;">Uploaded JSON-objects in the database: </h1>
    <pre style="margin-left:20px; margin-right:20px"><code style="margin-left:20px; margin-right:20px">{% print(json) %}</code></pre>

</body>
</html>









