<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAS</title>
    <link rel="stylesheet" href="../static/css/onepage.css">
</head>
<body>

<h1>Game Analysis Software</h1>
<!--
<div id="navbar">
<ul>
  <li><a href="home.html">Home</a></li>
  <li><a href="upload.html">Upload</a></li>
  <li><a href="fetch.html">Fetch</a></li>
</ul> 
</div>
-->

<div id="buttons">

<input type="button" id="bttn1" value="Upload JSON/log file">
<input type="button" id="bttn2" value="Fetch data">

</div>



<div id="container"></div>


<ol id="text"></ol>


<script src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
			  
<script src="js/jquery-3.2.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="https://code.highcharts.com/modules/exporting.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="../static/js/onepage.js"></script>





</body>
</html>