h1 {
    color: white;
}

h2 {
    color: white
}


.container {
    max-width: 1000px;
        }


body {
    color: white;
        }

p  {
   display: inline-block;
    color: rgb(255, 255, 255)
}

div#content {
    display: none;
    }

div#loading {
    top: 200px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(/static/imgs/gifs/ajax-loader.gif) no-repeat;
    cursor: wait;
    }