<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
    <title>TESTI</title>
  </head>
  <body>
	<h1>start_datetime <br /> end_datetime <br /> difference</h1>

	<!--<input type="button" id="btn" value="Show times"> -->


	<li id="text"></li>



	<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
	<script src="jquery-3.2.1.js"></script>

	<script src="start_date.js"></script>

  </body>
</html>

